# CLion files
/.idea/

# Eclipse files
.cproject
.project

# Cmake files
Makefile
*.cmake
CMakeCache.txt
CMakeFiles
# Binary files
*.so
# Swap files
*.swp

# The code of tracker is not open-sourced. Library instead is provided.
!lib/libbasic_pedestrian_tracker.so